.cart-head{
    width: 1000px;
    height: 315px;
}
.step{
    position: relative;
    width: 400px;
    margin:20px auto;
    overflow: hidden;
}
.step li {
    float: left;
    padding: 0 30px;
    font-size: 13px;
    text-align: center;
}
.step li:nth-of-type(2){
    color: #f4a137;
    background-color: #eee;
    border:1px solid #5c5c5c;
    border-width: 0 1px;
}
.s-title{
    width: 100%;
    font-size: 20px;
    padding: 3px 0px;
    color: #333;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #999;
}
.s-title i,.every-had i{
    float: right;
    font-size: 26px;
    line-height: 50px;
    cursor: pointer;
    transition:all .5s;
    color: #999;
}
.s-title i:hover,.every-had i:hover{
    color: #f4a137;
}
.every-had{
    height:50px;
    border-bottom: 1px solid #999;
}
.every-had input[type=radio]{
    width: 20px;
    height: 20px;
    vertical-align: -18%;
}
.every-had li{
    display: inline-block;
    margin-right:20px;
    font-size:15px;
    line-height:50px;
    color: #666;
}
.new-every{
    position: relative;
    float: left;
    width: 350px;
    margin-top:20px;
    padding: 1em;
    border: 16px solid transparent;
    border-image: 16 repeating-linear-gradient(-45deg,#000 0,#000 1em,transparent 0 ,transparent 2em,#f4a137 0,#f4a137 3em,transparent 0,transparent 4em);

}
.new-cancle{
    position: absolute;
    top:10px;
    right:10px;
    width: 14px;
    height: 14px;
    line-height:14px;
    text-align: center;
    font-size:16px;
    cursor: pointer;
}
.content span{
    display: inline-block;
    width: 80px;
    font-size:13px;
    color: #777;
}
.address{
    line-height: 40px;
    margin-bottom:40px;
    overflow: hidden;
}
.save-address{
    display: inline-block;
    margin-left:80px;
    width: 94px;
    height: 25px;
    background: #f4a137;
    line-height: 25px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-weight: 100;
    border: none;
    outline:none;
    cursor: pointer;
}
.content input[type=text]{
    padding: 0px 5px;
    height: 30px;
    width: 150px;
    border: 2px #dedede solid;
    outline:none;
    transition: .5s;
    text-overflow: ellipsis;
}
.content input:focus{
    border-color:#f4a137;
}
.content .add-address:focus{
    width: 280px;
    border-color:#f4a137;
}
.content .address select{
    padding: 0px 5px;
    height: 24px;
    width: 90px;
    border: 2px #dedede solid;
    outline: none;
}
.content .address select:active{
    border-color:#f4a137;
}

.goodsform{
    margin-bottom: 20px;
}
.cart-item{
    overflow: hidden;
    border-bottom:1px solid #ccc;
}
.cart-item img{
    display: block;
    margin:9px 0;
    float: left;
    width: 72px;
    height: 72px;
}
.cart-item li{
    float: left;
    margin:0 40px;
    height: 90px;
    line-height:90px;
    font-size:16px;
    color: #777;
}
.cart-item li:first-of-type{
    width:600px;
}

.notice input[type=text]{
    margin-left:-40px;
    width: 350px;
}
.voucher{
    margin:20px 0;
    line-height:30px;
}
.voucher button{
    border: none;
    width: 80px;
    height: 29px;
    background: #f4a137;
    color: #fff;
    text-align: center;
    outline:none;
    cursor: pointer;
    margin-left: 7px;
}
.voucher .vou-number{
    float: right;
    width: 130px;
}
.summary{
    text-align: right;
}
/*此处css不起作用*/
/*.content .summary .sum-number{*/
/*font-size: 16px;*/
/*color: #2751d7;*/
/*}*/
.settleway{
    text-align: center;
    line-height: 50px;
}
.settleway span{
    display: inline;
}
.settleway span::before,.settleway span::after{
    content: '—————';
}
.settleway p{
    font-size:12px;
    color: #f4a137;
}
.settleway input{
    width:20px;
}
.order-confirm{
    display: inline-block;
    margin-top: 5px;
    width: 168px;
    height: 30px;
    color: #fff;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    background: #f4a137;
    border: none;
    outline:none;
}